//--------------------------------------------
//
//  parts
//  汎用パーツ
//
//---------------------------------------------
//---------------------------------------------
//  デバイス出し分け
//---------------------------------------------
.view-pc
  +mq_sp()
    display none !important
.view-sp
  +mq_pc()
    display none !important
//---------------------------------------------
//  インナーフレーム
//---------------------------------------------
.l-inner
  padding-left 1em
  padding-right 1em
  max-width 1000px
  margin auto
