@charset "utf-8";
//--------------------------------------------
//
//  style
//  インポート用ファイル
//
//---------------------------------------------
@import "base/*";
@import "module/*";
@import "page/*";

.hoge
  display block
  width 100%
  height 100%
  border 1px solid #fff

.hoge
  line-height 10
  width 20%
  display flex

.aaa
  position relative
  z-index 100
  display inline-block
  vertical-align top
  transform translate(10px, 10px)

.hoge
  transform rotate(45deg)
  display grid
