//--------------------------------------------
//-
//-  pages
//-  各ページのmeta情報などをまとめる
//-
//--------------------------------------------
-
  var pages = {
    default : {
      title : 'title',
      description : 'description'
    },
    top : {
      title : 'トップページ',
      description : '説明'
    },
  }
