//--------------------------------------------
//-
//-  vars
//-  必要な変数があれば定義
//-
//--------------------------------------------
-
  var spacer = 'data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7';

  var path_css = '/assets/css/';
  var path_js = '/assets/js/';
  var path_img = '/assets/img/';
  //- img(path_img + "hoge.png" alt="")のように使うと便利です
