//--------------------------------------------
//
//  default
//  基本設定
//
//---------------------------------------------
*
  box-sizing border-box

html
  +mq_pc()
    //1rem=10pxになるよう調整
    font-size 62.5%
  +mq_sp()
    //375pxのときに1remが10pxになる（1.6rem=16px）
    font-size calc(100vw / 37.5);

body
  // 文字折り返し設定
  word-break normal //英単語..単語の途中では改行されない。日中韓..表示範囲に合わせて改行
  word-wrap break-word //必要に応じて単語の途中で改行(長すぎなどの場合)
  // スマホフォントサイズ設定
  -webkit-text-size-adjust 100%!important

  font-size 1.6rem
  color c_font
  font-family font_family

a
  color c_font
  text-decoration none
  +mq_pc()
    &:hover
      text-decoration underline
